# Dependencias
node_modules/

# Builds
dist/
build/
.next/
out/
.storybook-out/
storybook-static/

# Cachés y herramientas
.eslintcache
.parcel-cache/
.npm/
.pnp/
.pnp.cjs

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env y credenciales (¡no subir!)
.env
.env.*
!.env.example

# Editores / SO
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Tests / cobertura
coverage/
jest-html-reporters-attach/

# Otros
*.local
*.cache
